<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">

    <style>

        body{
            font-family: Arial, sans-serif;
            margin:40px;
        }

        h1{
            color:#003366;
        }

        table{
            width:100%;
            border-collapse:collapse;
            margin-top:20px;
        }

        td{
            border:1px solid #ccc;
            padding:8px;
        }

    </style>

</head>

<body>

<h1>Certificado de Análisis</h1>

<table>

<tr>
<td>OP</td>
<td>{{op}}</td>
</tr>

<tr>
<td>Producto</td>
<td>{{producto}}</td>
</tr>

<tr>
<td>Cantidad Fabricada</td>
<td>{{cantidadFabricada}}</td>
</tr>

<tr>
<td>Lote</td>
<td>{{lote}}</td>
</tr>

<tr>
<td>Fecha</td>
<td>{{fecha}}</td>
</tr>

</table>

</body>

</html>